streamlit
fpdf
PyPDF2==3.0.1
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_groq
langchain-text-splitters
faiss-cpu
pytesseract
pdf2image
Pillow
requests
google-generativeai
python-docx
openpyxl
pandas
